<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>Poseidon - Bid list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- navbar -->
<div th:replace="a.fragments/header :: header"></div>

<div class="container-lg p-3 bg-light">
    <div class="p-1 text-center">
        <h2>Bid List</h2>
        <h3 th:if="${missingBidId}" class="text-danger p-1">can't update/delete missing bid - please choose a new
            one</h3>
        <h3 th:if="${rightCreatedBid}" class="text-success p-1">bid has been successfully added</h3>
        <h3 th:if="${rightDeletedBid}" class="text-success p-1">bid has been successfully deleted</h3>
    </div>

    <div class="p-1 m-auto w-75">
        <!--suppress HtmlUnknownTarget -->
        <a href="/bid/add" class="btn btn-primary w-100">Add New Bid</a>
    </div>

    <div class="p-1">
        <table class="table table-bordered table-striped text-center m-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th>Id</th>
                <th>account</th>
                <th>type</th>
                <th>bidQuantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bidEntity : ${bidEntities}">
                <td th:text="${bidEntity.id}"></td>
                <td th:text="${bidEntity.account}"></td>
                <td th:text="${bidEntity.type}"></td>
                <td th:text="${bidEntity.bidQuantity}"></td>
                <td class="text-center">
                    <a th:href="@{/bid/update/{id}(id=${bidEntity.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/bid/delete/{id}(id=${bidEntity.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>